<%- include('../../includes/header') %>

    <!--BANNER-->
    <div ng-class="$ctrl.styles.banner" class="-XrqkevdgKslaYRvW4lgU _1xxpGc73R8WX4SlforcKGN"> <!-- uiView: --><ui-view
            name="banner" class="ng-scope"></ui-view> </div>
    <!-- ICONGAME-->
    <div ng-class="$ctrl.styles.content" class="BDw45cKhOY5X-HJyc5_2C _3a_tca7eBWdwvgj0a_G9LF">
        <div ng-class="$ctrl.styles.wrapper" class="_1h0fCbtWimc44r9dNSenvs _1KYuQRsSeUJA9WTeh0RDsa"> 
          <!-- uiView: -->
          <ui-view class="ng-scope">
            <gupw-sample-lobby-layout class="ng-scope ng-isolate-scope">
              <!-- uiView: --><ui-view class="ng-scope" style="">
                <gupw-lobby-cock-fighting class="ng-scope ng-isolate-scope">
                  <section ng-class="$ctrl.styles.main">
                    <!-- ngRepeat: entrance in $ctrl.viewModel.entranceList track by $index -->
                    <div ng-repeat="entrance in $ctrl.viewModel.entranceList track by $index"
                      ng-class="{ 'active': entrance.active }" class="_3UYVESZovzVbJcr0zKCuA2" style="">
                      <div ng-class="[$ctrl.styles['entrance-content'], entrance.gameEntranceName]"
                        class="_29--brKq9jG2XkBrzvpXvn CQ9CockFighting">
                        <div> <img
                            ng-src="https://qk3x72.katawee.net/system-requirement/Web.PortalNew/UK254-01/6977de968b/images/468c5baabefbead62bad476602d5f176.png"
                            src="https://qk3x72.katawee.net/system-requirement/Web.PortalNew/UK254-01/6977de968b/images/468c5baabefbead62bad476602d5f176.png">
                        </div>
                        <div>
                          <div ng-class="$ctrl.styles.live" class="_2uS11vT7p2EFdWepaoOKE8"> <img
                              src="https://qk3x72.katawee.net/system-requirement/Web.PortalNew/UK254-01/6977de968b/images/48b100b5cb1dd2bce8f744983457bcb1.gif"
                              alt=""> </div>
                          <div ng-class="$ctrl.styles.title" class="_39q-peGpxeyHS5_RPswqvS"> <img
                              ng-src="https://qk3x72.katawee.net/system-requirement/Web.PortalNew/UK254-01/6977de968b/images/8305ee261974228d0441189b4bc7544a.png"
                              src="https://qk3x72.katawee.net/system-requirement/Web.PortalNew/UK254-01/6977de968b/images/8305ee261974228d0441189b4bc7544a.png">
                          </div>
                          <div>
                            <p class="ng-binding">Sabong Đá gà cựa sắt là một môn thể thao phổ biến được hàng triệu người
                              Philippines thường xuyên tham gia và thậm chí những người thuộc nhiều quốc gia khác trên thế
                              giới trong đó có Việt Nam. Được truyền trực tiếp từ trường đấu Sabong kịnh tính chỉ với 3 hình
                              thức cược đơn giản Meron, Draw, Wala...</p>
                          </div> <!-- ngIf: entrance.tag -->
                        </div>
                      </div>
                    </div><!-- end ngRepeat: entrance in $ctrl.viewModel.entranceList track by $index -->
                    <div ng-repeat="entrance in $ctrl.viewModel.entranceList track by $index"
                      ng-class="{ 'active': entrance.active }" class="_3UYVESZovzVbJcr0zKCuA2 active" style="">
                      <div ng-class="[$ctrl.styles['entrance-content'], entrance.gameEntranceName]"
                        class="_29--brKq9jG2XkBrzvpXvn Ws168CockFighting">
                        <div> <img
                            ng-src="https://qk3x72.katawee.net/system-requirement/Web.PortalNew/UK254-01/6977de968b/images/2092192adb84ab758c9f49231fbcd3cc.png"
                            src="https://qk3x72.katawee.net/system-requirement/Web.PortalNew/UK254-01/6977de968b/images/2092192adb84ab758c9f49231fbcd3cc.png">
                        </div>
                        <div>
                          <div ng-class="$ctrl.styles.live" class="_2uS11vT7p2EFdWepaoOKE8"> <img
                              src="https://qk3x72.katawee.net/system-requirement/Web.PortalNew/UK254-01/6977de968b/images/48b100b5cb1dd2bce8f744983457bcb1.gif"
                              alt=""> </div>
                          <div ng-class="$ctrl.styles.title" class="_39q-peGpxeyHS5_RPswqvS"> <img
                              ng-src="https://qk3x72.katawee.net/system-requirement/Web.PortalNew/UK254-01/6977de968b/images/7a197f43e770c3549e474ff790f6baa2.png"
                              src="https://qk3x72.katawee.net/system-requirement/Web.PortalNew/UK254-01/6977de968b/images/7a197f43e770c3549e474ff790f6baa2.png">
                          </div>
                          <div>
                            <p class="ng-binding">Sabong Đá gà cựa sắt là một môn thể thao phổ biến được hàng triệu người
                              Philippines thường xuyên tham gia và thậm chí những người thuộc nhiều quốc gia khác trên thế
                              giới trong đó có Việt Nam. Được truyền trực tiếp từ trường đấu Sabong kịnh tính chỉ với 3 hình
                              thức cược đơn giản Meron, Draw, Wala...</p>
                          </div> <!-- ngIf: entrance.tag -->
                        </div>
                      </div>
                    </div><!-- end ngRepeat: entrance in $ctrl.viewModel.entranceList track by $index -->
                    <div ng-repeat="entrance in $ctrl.viewModel.entranceList track by $index"
                      ng-class="{ 'active': entrance.active }" class="_3UYVESZovzVbJcr0zKCuA2" style="">
                      <div ng-class="[$ctrl.styles['entrance-content'], entrance.gameEntranceName]"
                        class="_29--brKq9jG2XkBrzvpXvn">
                        <div> <img> </div>
                        <div>
                          <div ng-class="$ctrl.styles.live" class="_2uS11vT7p2EFdWepaoOKE8"> <img
                              src="https://qk3x72.katawee.net/system-requirement/Web.PortalNew/UK254-01/6977de968b/images/48b100b5cb1dd2bce8f744983457bcb1.gif"
                              alt=""> </div>
                          <div ng-class="$ctrl.styles.title" class="_39q-peGpxeyHS5_RPswqvS"> <img> </div>
                          <div>
                            <p class="ng-binding"></p>
                          </div> <!-- ngIf: entrance.tag -->
                        </div>
                      </div>
                    </div><!-- end ngRepeat: entrance in $ctrl.viewModel.entranceList track by $index -->
                    <div ng-repeat="entrance in $ctrl.viewModel.entranceList track by $index"
                      ng-class="{ 'active': entrance.active }" class="_3UYVESZovzVbJcr0zKCuA2" style="">
                      <div ng-class="[$ctrl.styles['entrance-content'], entrance.gameEntranceName]"
                        class="_29--brKq9jG2XkBrzvpXvn">
                        <div> <img> </div>
                        <div>
                          <div ng-class="$ctrl.styles.live" class="_2uS11vT7p2EFdWepaoOKE8"> <img
                              src="https://qk3x72.katawee.net/system-requirement/Web.PortalNew/UK254-01/6977de968b/images/48b100b5cb1dd2bce8f744983457bcb1.gif"
                              alt=""> </div>
                          <div ng-class="$ctrl.styles.title" class="_39q-peGpxeyHS5_RPswqvS"> <img> </div>
                          <div>
                            <p class="ng-binding"></p>
                          </div> <!-- ngIf: entrance.tag -->
                        </div>
                      </div>
                    </div><!-- end ngRepeat: entrance in $ctrl.viewModel.entranceList track by $index -->
                    <div ng-repeat="entrance in $ctrl.viewModel.entranceList track by $index"
                      ng-class="{ 'active': entrance.active }" class="_3UYVESZovzVbJcr0zKCuA2" style="">
                      <div ng-class="[$ctrl.styles['entrance-content'], entrance.gameEntranceName]"
                        class="_29--brKq9jG2XkBrzvpXvn">
                        <div> <img> </div>
                        <div>
                          <div ng-class="$ctrl.styles.live" class="_2uS11vT7p2EFdWepaoOKE8"> <img
                              src="https://qk3x72.katawee.net/system-requirement/Web.PortalNew/UK254-01/6977de968b/images/48b100b5cb1dd2bce8f744983457bcb1.gif"
                              alt=""> </div>
                          <div ng-class="$ctrl.styles.title" class="_39q-peGpxeyHS5_RPswqvS"> <img> </div>
                          <div>
                            <p class="ng-binding"></p>
                          </div> <!-- ngIf: entrance.tag -->
                        </div>
                      </div>
                    </div><!-- end ngRepeat: entrance in $ctrl.viewModel.entranceList track by $index -->
                  </section>
                  <section ng-class="$ctrl.styles['btn-wrapper']" class="_2cCe_Y-BvjihJoI8XWBu6o">
                    <ul class="list-unstyled pfgYxcOaw6INPyxlPt6P0" ng-class="$ctrl.styles['game-list']">
                      <!-- ngRepeat: entrance in $ctrl.viewModel.entranceList track by $index -->
                      <li ng-repeat="entrance in $ctrl.viewModel.entranceList track by $index"
                        ng-click="$ctrl.viewModel.clickEntrance(entrance)" ng-click="$ctrl.viewModel.currentItem.click() playBtn" onclick="launchGame('WS168', 'WS1682')"
                        ng-style="entrance.style" class="ng-scope active"
                        style="background-image: url(&quot;https://qk3x72.katawee.net/system-requirement/Web.PortalNew/UK254-01/6977de968b/images/d1ae1fbc2dcd5970adc6bcc447c19090.png&quot;);">
                      </li><!-- end ngRepeat: entrance in $ctrl.viewModel.entranceList track by $index -->
                      <li ng-repeat="entrance in $ctrl.viewModel.entranceList track by $index"
                        ng-click="$ctrl.viewModel.clickEntrance(entrance)" ng-class="{ 'active': entrance.active }"
                        ng-style="entrance.style" class="ng-scope"
                        style="background-image: url(&quot;https://qk3x72.katawee.net/system-requirement/Web.PortalNew/UK254-01/6977de968b/images/7a3318de1e54a44207a27d6f73e76655.png&quot;);">
                      </li><!-- end ngRepeat: entrance in $ctrl.viewModel.entranceList track by $index -->
                      <li ng-repeat="entrance in $ctrl.viewModel.entranceList track by $index"
                        ng-click="$ctrl.viewModel.clickEntrance(entrance)" ng-class="{ 'active': entrance.active }"
                        ng-style="entrance.style" class="ng-scope"
                        style="background-image: url(&quot;https://qk3x72.katawee.net/system-requirement/Web.PortalNew/UK254-01/6977de968b/images/7a3318de1e54a44207a27d6f73e76655.png&quot;);">
                      </li><!-- end ngRepeat: entrance in $ctrl.viewModel.entranceList track by $index -->
                      <li ng-repeat="entrance in $ctrl.viewModel.entranceList track by $index"
                        ng-click="$ctrl.viewModel.clickEntrance(entrance)" ng-class="{ 'active': entrance.active }"
                        ng-style="entrance.style" class="ng-scope"
                        style="background-image: url(&quot;https://qk3x72.katawee.net/system-requirement/Web.PortalNew/UK254-01/6977de968b/images/7a3318de1e54a44207a27d6f73e76655.png&quot;);">
                      </li><!-- end ngRepeat: entrance in $ctrl.viewModel.entranceList track by $index -->
                    </ul> <button type="button" ng-click="$ctrl.viewModel.currentItem.click() playBtn" onclick="launchGame('WS168', 'WS1682')" ng-click="$ctrl.viewModel.toCurrentEntrance()">VÀO CHƠI NGAY</button>
                  </section>
                </gupw-lobby-cock-fighting>
              </ui-view>
            </gupw-sample-lobby-layout>
          </ui-view> 
        </div>
      </div>

    <%- include('../../includes/footer') %>