<%- include('../../includes/header') %>

    <div ng-class="$ctrl.styles.content" class="BDw45cKhOY5X-HJyc5_2C SFR69aVbdwsdLFsXkLZAK">
        <div ng-class="$ctrl.styles.banner" class="-XrqkevdgKslaYRvW4lgU _2FduAQr_AZpdk5PkLCEAP1"> <!-- uiView: --><ui-view name="banner" class="ng-scope" style=""></ui-view> </div>
        <div ng-class="$ctrl.styles.wrapper" class="_1h0fCbtWimc44r9dNSenvs _3erZk5kF87SUXDUp2Hh8MU">
            
            <!-- uiView: -->
            <ui-view class="ng-scope">
                <gupw-sample-lobby-layout class="ng-scope ng-isolate-scope">
                    <!-- uiView: -->
                    <ui-view class="ng-scope" style="">
                        <gupw-lobby-fish class="ng-scope ng-isolate-scope">                         
                            <div ng-class="$ctrl.styles.wrapper" class="_3erZk5kF87SUXDUp2Hh8MU">
                                <iframe ng-class="$ctrl.styles.iframe"
                                    src="/Lobby/Fish/list" style=" width: 100%; min-height: 900px; border: none; "></iframe>
                            </div>
                        </gupw-lobby-fish>
                    </ui-view>
                </gupw-sample-lobby-layout>
            </ui-view>
        </div>
    </div>
    
    <%- include('../../includes/footer') %>