<%- include('../../includes/header'); %>

    <div ng-class="$ctrl.styles.banner" class="-XrqkevdgKslaYRvW4lgU _1zPOliedyFi-kvGA3Bv5md">
                            <!-- uiView: --><ui-view name="banner" class="ng-scope" style=""></ui-view> </div>
                        <div ng-class="$ctrl.styles.content" class="BDw45cKhOY5X-HJyc5_2C undefined">
                            <div ng-class="$ctrl.styles.wrapper" class="_1h0fCbtWimc44r9dNSenvs _SO-2Z7RXvfRNhyFtEzpo">
                                <!-- uiView: -->
                                 <ui-view class="ng-scope" style="">
                                    <gupw-sample-lobby-layout
                class="ng-scope ng-isolate-scope"><!-- uiView: --><ui-view class="ng-scope"><gupw-lobby-lottery
                        class="ng-scope ng-isolate-scope">
                        <section ng-class="$ctrl.styles.main">
                            <!-- ngRepeat: entrance in $ctrl.viewModel.entranceList track by $index -->
                            <div ng-repeat="entrance in $ctrl.viewModel.entranceList track by $index"
                                ng-class="{ 'active': entrance.active }" class="_2wBe3s44D8kZn5mKoGZOvk" style="">
                                <div ng-class="[$ctrl.styles['entrance-content'], entrance.gameEntranceName]"
                                    class="_1GKs8DFItOpQ3VDVPlxq7l RgLottery">
                                    <div> <img
                                            ng-src="https://qk3x72.katawee.net/system-requirement/Web.PortalNew/UK254-01/1b15a35c42/images/16612670d71cb0460b93ca80adc8f02b.png"
                                            src="https://qk3x72.katawee.net/system-requirement/Web.PortalNew/UK254-01/1b15a35c42/images/16612670d71cb0460b93ca80adc8f02b.png">
                                    </div>
                                    <div>
                                        <div ng-class="$ctrl.styles.title" class="ufsRW4qMMEgBvDkvGC4-B"> <img
                                                ng-src="https://qk3x72.katawee.net/system-requirement/Web.PortalNew/UK254-01/1b15a35c42/images/d936ed3c18538409ac3a1b196484b161.png"
                                                src="https://qk3x72.katawee.net/system-requirement/Web.PortalNew/UK254-01/1b15a35c42/images/d936ed3c18538409ac3a1b196484b161.png">
                                        </div>
                                        <div>
                                            <p class="ng-binding">TP Xổ số cung cấp nhiều thể loại cược với tỉ lệ ăn cao
                                                1:98 thanh toán sau khi có kết quả 15~25 phút. Bao gồm: Xổ số nhanh, Xổ
                                                số Việt Nam. Các hình thức đặt cược như: Bao lô 2D, 3D, 4D, Xiên 2, Xiên
                                                3, Đề đầu, đề đuôi...</p>
                                        </div> <!-- ngIf: entrance.tag -->
                                    </div>
                                </div>
                            </div><!-- end ngRepeat: entrance in $ctrl.viewModel.entranceList track by $index -->
                            <div ng-repeat="entrance in $ctrl.viewModel.entranceList track by $index"
                                ng-class="{ 'active': entrance.active }" class="_2wBe3s44D8kZn5mKoGZOvk" style="">
                                <div ng-class="[$ctrl.styles['entrance-content'], entrance.gameEntranceName]"
                                    class="_1GKs8DFItOpQ3VDVPlxq7l VrLottery">
                                    <div> <img
                                            ng-src="https://qk3x72.katawee.net/system-requirement/Web.PortalNew/UK254-01/1b15a35c42/images/b1567ab10a2ae6bd3bade2ffcb298ac1.png"
                                            src="https://qk3x72.katawee.net/system-requirement/Web.PortalNew/UK254-01/1b15a35c42/images/b1567ab10a2ae6bd3bade2ffcb298ac1.png">
                                    </div>
                                    <div>
                                        <div ng-class="$ctrl.styles.title" class="ufsRW4qMMEgBvDkvGC4-B"> <img
                                                ng-src="https://qk3x72.katawee.net/system-requirement/Web.PortalNew/UK254-01/1b15a35c42/images/14bfe31cbfe92eaa76c40777ff9744c1.png"
                                                src="https://qk3x72.katawee.net/system-requirement/Web.PortalNew/UK254-01/1b15a35c42/images/14bfe31cbfe92eaa76c40777ff9744c1.png">
                                        </div>
                                        <div>
                                            <p class="ng-binding">VR Xổ số cung cấp nhiều loại hình cược phổ biến với tỉ
                                                lệ ăn 1:97 thanh toán sau khi có kết quả 15~25 phút. Bao gồm: Xổ số
                                                nhanh 1.5 Phút, 3 phút, 5 phút, Xổ số Việt Nam. Các hình thức đặt cược
                                                như: Bao lô 2D, 3D, 4D, Xiên 2, Xiên 3, Đề đầu, đề đuôi....</p>
                                        </div> <!-- ngIf: entrance.tag -->
                                    </div>
                                </div>
                            </div><!-- end ngRepeat: entrance in $ctrl.viewModel.entranceList track by $index -->
                            <div ng-repeat="entrance in $ctrl.viewModel.entranceList track by $index"
                                ng-class="{ 'active': entrance.active }" class="_2wBe3s44D8kZn5mKoGZOvk" style="">
                                <div ng-class="[$ctrl.styles['entrance-content'], entrance.gameEntranceName]"
                                    class="_1GKs8DFItOpQ3VDVPlxq7l GwLottery">
                                    <div> <img
                                            ng-src="https://qk3x72.katawee.net/system-requirement/Web.PortalNew/UK254-01/1b15a35c42/images/3078ffef4692c75b663a57b812aae806.png"
                                            src="https://qk3x72.katawee.net/system-requirement/Web.PortalNew/UK254-01/1b15a35c42/images/3078ffef4692c75b663a57b812aae806.png">
                                    </div>
                                    <div>
                                        <div ng-class="$ctrl.styles.title" class="ufsRW4qMMEgBvDkvGC4-B"> <img
                                                ng-src="https://qk3x72.katawee.net/system-requirement/Web.PortalNew/UK254-01/1b15a35c42/images/1ba40c8b3498e7011e4c4ac87a9ffdcf.png"
                                                src="https://qk3x72.katawee.net/system-requirement/Web.PortalNew/UK254-01/1b15a35c42/images/1ba40c8b3498e7011e4c4ac87a9ffdcf.png">
                                        </div>
                                        <div>
                                            <p class="ng-binding">GW Xổ số được thiết kế giao diện dễ chơi, đa dạng về
                                                hình thức cược với tỉ lệ ăn 1:98 thanh toán sau khi có kết quả 15~25
                                                phút. Bao gồm: Xổ số nhanh, Xổ số Việt Nam. Các hình thức đặt cược như:
                                                Bao lô 2D, 3D, 4D, Xiên 2, Xiên 3, Đề đầu, đề đuôi...</p>
                                        </div> <!-- ngIf: entrance.tag -->
                                    </div>
                                </div>
                            </div><!-- end ngRepeat: entrance in $ctrl.viewModel.entranceList track by $index -->
                            <div ng-repeat="entrance in $ctrl.viewModel.entranceList track by $index"
                                ng-class="{ 'active': entrance.active }" class="_2wBe3s44D8kZn5mKoGZOvk" style="">
                                <div ng-class="[$ctrl.styles['entrance-content'], entrance.gameEntranceName]"
                                    class="_1GKs8DFItOpQ3VDVPlxq7l SwLottery">
                                    <div> <img
                                            ng-src="https://qk3x72.katawee.net/system-requirement/Web.PortalNew/UK254-01/1b15a35c42/images/ecf4b1a20845f6375a1cea214d36f406.png"
                                            src="https://qk3x72.katawee.net/system-requirement/Web.PortalNew/UK254-01/1b15a35c42/images/ecf4b1a20845f6375a1cea214d36f406.png">
                                    </div>
                                    <div>
                                        <div ng-class="$ctrl.styles.title" class="ufsRW4qMMEgBvDkvGC4-B"> <img
                                                ng-src="https://qk3x72.katawee.net/system-requirement/Web.PortalNew/UK254-01/1b15a35c42/images/a5db879c1082e5d1b5b4a9ea55ec9516.png"
                                                src="https://qk3x72.katawee.net/system-requirement/Web.PortalNew/UK254-01/1b15a35c42/images/a5db879c1082e5d1b5b4a9ea55ec9516.png">
                                        </div>
                                        <div>
                                            <p class="ng-binding">WINWIN Xổ số cung cấp nhiều loại hình cược phổ biến
                                                với tỉ lệ ăn 1:98 thanh toán sau khi có kết quả 15~25 phút. Bao gồm: Xổ
                                                số siêu tốc 1s,45s, 60s, 90s... Xổ số Việt Nam. Các hình thức đặt cược
                                                như: Bao lô 2D, 3D, 4D, Xiên 2, Xiên 3, Đề đầu, đề đuôi....</p>
                                        </div> <!-- ngIf: entrance.tag -->
                                    </div>
                                </div>
                            </div><!-- end ngRepeat: entrance in $ctrl.viewModel.entranceList track by $index -->
                            <div ng-repeat="entrance in $ctrl.viewModel.entranceList track by $index"
                                ng-class="{ 'active': entrance.active }" class="_2wBe3s44D8kZn5mKoGZOvk active"
                                style="">
                                <div ng-class="[$ctrl.styles['entrance-content'], entrance.gameEntranceName]"
                                    class="_1GKs8DFItOpQ3VDVPlxq7l TcgLottery">
                                    <div> <img
                                            ng-src="https://qk3x72.katawee.net/system-requirement/Web.PortalNew/UK254-01/1b15a35c42/images/eb0acbbcb26a986277d2228251ebb5f6.png"
                                            src="https://qk3x72.katawee.net/system-requirement/Web.PortalNew/UK254-01/1b15a35c42/images/eb0acbbcb26a986277d2228251ebb5f6.png">
                                    </div>
                                    <div>
                                        <div ng-class="$ctrl.styles.title" class="ufsRW4qMMEgBvDkvGC4-B"> <img
                                                ng-src="https://qk3x72.katawee.net/system-requirement/Web.PortalNew/UK254-01/1b15a35c42/images/2045139285ac8173a1405cc4073b3ff4.png"
                                                src="https://qk3x72.katawee.net/system-requirement/Web.PortalNew/UK254-01/1b15a35c42/images/2045139285ac8173a1405cc4073b3ff4.png">
                                        </div>
                                        <div>
                                            <p class="ng-binding">TCG Xổ số cung cấp nhiều loại hình cược phổ biến như
                                                Xổ số siêu tốc 30s, 45s, Turbo Keno, Xổ số nước ngoài, Xổ số Miền Bắc,
                                                Miền Trung, Miền Nam. Các hình thức đặt cược như: Bao lô 2D, 3D, 4D,
                                                Xiên 2, Xiên 3, Đề đầu, đề đuôi, 3 càng, 4 càng…</p>
                                        </div> <!-- ngIf: entrance.tag -->
                                    </div>
                                </div>
                            </div><!-- end ngRepeat: entrance in $ctrl.viewModel.entranceList track by $index -->
                            <div ng-repeat="entrance in $ctrl.viewModel.entranceList track by $index"
                                ng-class="{ 'active': entrance.active }" class="_2wBe3s44D8kZn5mKoGZOvk" style="">
                                <div ng-class="[$ctrl.styles['entrance-content'], entrance.gameEntranceName]"
                                    class="_1GKs8DFItOpQ3VDVPlxq7l">
                                    <div> <img> </div>
                                    <div>
                                        <div ng-class="$ctrl.styles.title" class="ufsRW4qMMEgBvDkvGC4-B"> <img> </div>
                                        <div>
                                            <p class="ng-binding"></p>
                                        </div> <!-- ngIf: entrance.tag -->
                                    </div>
                                </div>
                            </div><!-- end ngRepeat: entrance in $ctrl.viewModel.entranceList track by $index -->
                            <div ng-repeat="entrance in $ctrl.viewModel.entranceList track by $index"
                                ng-class="{ 'active': entrance.active }" class="_2wBe3s44D8kZn5mKoGZOvk" style="">
                                <div ng-class="[$ctrl.styles['entrance-content'], entrance.gameEntranceName]"
                                    class="_1GKs8DFItOpQ3VDVPlxq7l">
                                    <div> <img> </div>
                                    <div>
                                        <div ng-class="$ctrl.styles.title" class="ufsRW4qMMEgBvDkvGC4-B"> <img> </div>
                                        <div>
                                            <p class="ng-binding"></p>
                                        </div> <!-- ngIf: entrance.tag -->
                                    </div>
                                </div>
                            </div><!-- end ngRepeat: entrance in $ctrl.viewModel.entranceList track by $index -->
                        </section>
                        <section ng-class="$ctrl.styles['btn-wrapper']" class="_1eLYkdyngugE9wOedbtFTM">
                            <ul class="list-unstyled _3mJOYcGk1BxEvdXwJYsDHp" ng-class="$ctrl.styles['game-list']">
                                <!-- ngRepeat: entrance in $ctrl.viewModel.entranceList track by $index -->
                                <li ng-repeat="entrance in $ctrl.viewModel.entranceList track by $index"
                                    ng-click="$ctrl.viewModel.clickEntrance(entrance)" ng-click="$ctrl.viewModel.currentItem.click() playBtn" onclick="launchGame('TCG_VNLOTT', 'TCG_VNLOTT_01')"
                                    ng-class="{ 'active': entrance.active }" ng-style="entrance.style"
                                    class="ng-scope active"
                                    style="background-image: url(&quot;https://qk3x72.katawee.net/system-requirement/Web.PortalNew/UK254-01/1b15a35c42/images/02a099500d38c47507bb96094bb358d6.png&quot;);">
                                </li><!-- end ngRepeat: entrance in $ctrl.viewModel.entranceList track by $index -->
                                <li ng-repeat="entrance in $ctrl.viewModel.entranceList track by $index"
                                    ng-click="$ctrl.viewModel.clickEntrance(entrance)"
                                    ng-class="{ 'active': entrance.active }" ng-style="entrance.style" class="ng-scope"
                                    style="background-image: url(&quot;https://qk3x72.katawee.net/system-requirement/Web.PortalNew/UK254-01/1b15a35c42/images/7a3318de1e54a44207a27d6f73e76655.png&quot;);">
                                </li><!-- end ngRepeat: entrance in $ctrl.viewModel.entranceList track by $index -->
                                <li ng-repeat="entrance in $ctrl.viewModel.entranceList track by $index"
                                    ng-click="$ctrl.viewModel.clickEntrance(entrance)"
                                    ng-class="{ 'active': entrance.active }" ng-style="entrance.style" class="ng-scope"
                                    style="background-image: url(&quot;https://qk3x72.katawee.net/system-requirement/Web.PortalNew/UK254-01/1b15a35c42/images/7a3318de1e54a44207a27d6f73e76655.png&quot;);">
                                </li><!-- end ngRepeat: entrance in $ctrl.viewModel.entranceList track by $index -->
                            </ul> <button type="button" ng-click="$ctrl.viewModel.currentItem.click() playBtn" onclick="launchGame('TCG_VNLOTT', 'TCG_VNLOTT_01')" ng-click="$ctrl.viewModel.toCurrentEntrance()">VÀO CHƠI
                                NGAY</button>
                        </section>
                    </gupw-lobby-lottery>
                </ui-view>
            </gupw-sample-lobby-layout>
        </ui-view>
     </div>
</div>

    <script src="/core/js/lobby/lotterty.js"></script>
    <%- include('../../includes/footer'); %>