<header _ngcontent-serverapp-c151="" class="header">   
	<app-movie-bg _ngcontent-serverapp-c72="" key="httpFilm7" _nghost-serverapp-c104="" class="">
					<!----><!----><!---->
					<img _ngcontent-serverapp-c104=""	src="https://shb32.com/SHBET_Media/20250404191522.gif"><!----><!----><!----><!---->
				<!----><!----><!---->
				</app-movie-bg>
	<div _ngcontent-serverapp-c151="" class="header-wrap">
	    <div _ngcontent-serverapp-c151="" class="text-customized-text-primary btn-open-right-sidebar" style=" margin-right: 125px;">
          <i _ngcontent-serverapp-c151="" class="fas fa-bars text-3xl"></i>
          </div>
        <a _ngcontent-serverapp-c151="" class="logo" href="/">
          <img _ngcontent-serverapp-c151="" src="<%=dataPage.session.siteConfig.site_logo;%>" style=" margin-left: 20px;"></a>       
          </div>
	<!----><!----><!---->
	<!----><!----><!---->
	</app-movie-bg>
</header>