<app-footer _ngcontent-serverapp-c151="" _nghost-serverapp-c78="">
    <style>
        .footerMain ul li{
                  /* width: 20%; */
                  display: inline-flex;
                  height: 100%;
                  text-align: center;
                  vertical-align: top;
                  box-sizing: border-box;
                  text-transform: capitalize;
                  justify-content: center;
                  align-items: center;
                }
        
                .footerMain ul li a img{
                  width: 32px;
                  height: 24px;
                }
        
                .footerMain ul li a{
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  text-decoration: none;
                  color:#ffffff;
                  filter: brightness(0) invert(1);
                }
                .footerMain ul{
                  padding-top: 10px;
                  padding-bottom: 10px;
                }
                .footerMain ul li a span{
                  margin-top: 4px;
                  font-size: 13
                }
                 </style>
                <footer class="footerMain" style="background-color: #2e2e2e;width: 100vw;position: fixed; bottom: 0px; left: 0px; z-index: 10;display: flex;justify-content: center;">
                  <ul style="width: 96%; display: flex; margin:0; list-style: none;padding-left: 0; justify-content: space-between;">
                    <li>
                      <a href="/">
                        <img src="https://qk3x72.katawee.net/system-requirement/Web.MobileNew/ZY121-01/bc51e06541/home.b23b1ce9c47ccbdc.svg" alt="">
                        <span> TRANG CHỦ </span>
                      </a>
                    </li>                    
                    <li>
                      <a href="/Promotion">
                        <img src="https://qk3x72.katawee.net/system-requirement/Web.MobileNew/ZY121-01/bc51e06541/promotion.d8898e510b23553e.svg" alt="">
                        <span> ƯU ĐÃI </span>
                      </a>
                    </li>
                    <li>
                      <a href="/account/deposit">
                        <img src="https://qk3x72.katawee.net/system-requirement/Web.MobileNew/ZY121-01/bc51e06541/discount.1e31c00ee384b50b.svg" alt="">
                        <span> NẠP-RÚT </span>
                      </a>
                    </li>
                    <li>
                      <a href="https://t.me/cskh8kvip">
                        <img src="https://qk3x72.katawee.net/system-requirement/Web.MobileNew/ZY121-01/bc51e06541/chat.2dfda2431801cf18.svg" alt="">
                        <span> HỖ TRỢ </span>
                      </a>
                    </li>
                    <li>
                      <a href="/account">
                        <img src="https://qk3x72.katawee.net/system-requirement/Web.MobileNew/ZY121-01/bc51e06541/member.ac14fb7483bc3031.svg" alt="">
                        <span> TÀI KHOẢN </span>
                      </a>
                    </li>
                  </ul>
                </footer>
                <!-- end footer -->
            </div>
</app-footer>