<gupw-footer class="ng-isolate-scope">
    <footer ng-class="$ctrl.styles.footer" class="HYHQ7RYC1BDlO1amTeHE9">
        <div ng-class="$ctrl.styles.wrapper" class="pUk9b12uOGKg24-PcmJWk">
            <section ng-class="$ctrl.styles.top" class="_39EtgGfulqPdGss0OAWO7N">
                <div>
                    <div ng-class="$ctrl.styles.logo" class="nEaugXPik5BmpdM28Ug6n"> <a href="/"></a> </div>
                    <div ng-class="$ctrl.styles.info" class="_30HYT2iK08KPDwm-QY5zlF">
                        <!-- ngIf: !$ctrl.show --><span ng-if="!$ctrl.show" class="ng-scope">
                            <span ng-class="$ctrl.styles.hightlight"><gupw-site-name class="ng-isolate-scope">
                                    <span ng-bind="$ctrl.content" class="ng-binding">SHBET.COM -
                                        Website Chính Thức</span>
                                </gupw-site-name></span> là một nhà cái có giấy phép cá cược
                            trực tuyến hợp pháp do Isle of Man và Khu kinh tế Cagayan and
                            Freeport cấp. <span ng-click="$ctrl.toggleInfo()">... Xem
                                Thêm</span> </span><!-- end ngIf: !$ctrl.show -->
                        <!-- ngIf: $ctrl.show -->
                    </div>
                </div>
                <div ng-class="$ctrl.styles.article" class="QABrzttMdHkFQzqqs994s">
                    <div ng-class="$ctrl.styles.title" class="_2nbcEJoQ-ZfT7ZkunleqMr"> <i></i>
                        <span>LIÊN KẾT NHANH</span>
                    </div>
                    <ul class="list-unstyled">
                        <li> <a ui-sref="rule" translate="Shared_Footer_Rule" class="ng-scope" href="/Rule">Điều khoản
                                điều kiện</a> </li>
                        <li> <a ui-sref="about-us" translate="Shared_Footer_AboutUs" class="ng-scope"
                                href="/AboutUS">Giới thiệu về SHBET</a> </li>
                        <li> <a ui-sref="responsible-gambling" translate="Shared_Footer_Responsible" class="ng-scope"
                                href="/ResponsibleGambling">Chơi có trách nhiệm</a> </li>
                        <li> <a ui-sref="disclaimer" translate="Shared_Footer_Disclaimer" class="ng-scope"
                                href="/Disclaimer">Miễn trách nhiệm</a> </li>
                        <li> <a ui-sref="privacy" translate="Shared_Footer_Privacy" class="ng-scope"
                                href="/Privacy">Chính sách bảo mật</a> </li>
                        <li> <a ui-sref="faq" translate="Shared_Footer_FAQ" class="ng-scope" href="/FAQ">Câu hỏi thường
                                gặp</a> </li>
                        <li> <a translate="Shared_Footer_Partner" class="ng-scope" ng-href="https://shb27.com/daily"
                                href="https://shb27.com/daily">Hợp tác đại lý</a> </li>
                    </ul>
                </div>
                <div ng-class="$ctrl.styles.entrance" class="_3fn0NDy38Eyc-Mi1g5yQSC">
                    <div ng-class="$ctrl.styles.title" class="_2nbcEJoQ-ZfT7ZkunleqMr"> <i></i>
                        <span>TỔNG HỢP</span>
                    </div>
                    <ul class="list-unstyled">
                        <li><a href="/Lobby/Sport" translate="Shared_Nav_Sports" class="ng-scope">THỂ THAO</a></li>
                        <li><a href="/Lobby/Live" translate="Shared_Nav_LiveCasino" class="ng-scope">CASINO</a></li>
                        <li><a href="/Lobby/Game" translate="Shared_Nav_Casino" class="ng-scope">NỔ HŨ</a></li>
                        <li><a href="/Lobby/Fish" translate="Lobby_Fish_Casino" class="ng-scope">BẮN CÁ</a></li>
                        <li><a href="/Lobby/Board" translate="Shared_Nav_Board" class="ng-scope">GAME BÀI</a></li>
                        <li><a href="/Lobby/CockFighting" translate="Shared_Nav_CockFighting" class="ng-scope">ĐÁ GÀ</a>
                        </li>
                        <li><a href="/Lobby/Lottery" translate="Shared_Nav_Lottery" class="ng-scope">XỔ SỐ</a></li>
                    </ul>
                </div>
                <div>
                    <div ng-class="$ctrl.styles.title" class="_2nbcEJoQ-ZfT7ZkunleqMr">
                        <span>Đại Sứ Thương Hiệu</span>
                    </div> <span ng-class="$ctrl.styles['sub-title']" class="_2cV2GIFBHPavzDfbYj-HqS">Iniesta Năm 2024 -
                        2025</span> <img
                        src="https://qk3x72.katawee.net/system-requirement/Web.PortalNew/UK254-01/cdba9e173a/images/06538d79231e0bb8b5d62ea06af4d4cf.png"
                        alt="">
                </div>
            </section>
            <section ng-class="$ctrl.styles.bottom" class="_5zK63Tf4YoFeota9crdQI">
                <ul>
                    <li> <img width="39"
                            src="https://qk3x72.katawee.net/system-requirement/Web.PortalNew/UK254-01/cdba9e173a/images/1dc3bea37ef5587e9bf591d21509da54.png">
                    </li>
                    <li> <img width="39"
                            src="https://qk3x72.katawee.net/system-requirement/Web.PortalNew/UK254-01/cdba9e173a/images/9c8e1ddbec03f969faf21cb9ae9089e0.png">
                    </li>
                    <li> <img width="41"
                            src="https://qk3x72.katawee.net/system-requirement/Web.PortalNew/UK254-01/cdba9e173a/images/35dc199fd5146741b4ed831e8d4f55eb.png">
                    </li>
                    <li> <img width="63"
                            src="https://qk3x72.katawee.net/system-requirement/Web.PortalNew/UK254-01/cdba9e173a/images/d38c35f7d0ea2a56281d0d21fa548b94.png">
                    </li>
                    <li> <img width="65"
                            src="https://qk3x72.katawee.net/system-requirement/Web.PortalNew/UK254-01/cdba9e173a/images/a0f2bb61fb5f44d097bee424556ebcae.png">
                    </li>
                    <li> <img width="98"
                            src="https://qk3x72.katawee.net/system-requirement/Web.PortalNew/UK254-01/cdba9e173a/images/ef0d7eca610deab663dc71b664919cb6.png">
                    </li>
                    <li> <img width="41"
                            src="https://qk3x72.katawee.net/system-requirement/Web.PortalNew/UK254-01/cdba9e173a/images/76a4c16482a74b5eca417830769dcda6.png">
                    </li>
                    <li> <img width="44"
                            src="https://qk3x72.katawee.net/system-requirement/Web.PortalNew/UK254-01/cdba9e173a/images/e4c6e256fc2a78372aa039ce21e7d691.png">
                    </li>
                    <li> <img width="44"
                            src="https://qk3x72.katawee.net/system-requirement/Web.PortalNew/UK254-01/cdba9e173a/images/41fa7e4bae02e3b68c4b7cbb33334b9c.png">
                    </li>
                    <li> <img width="40"
                            src="https://qk3x72.katawee.net/system-requirement/Web.PortalNew/UK254-01/cdba9e173a/images/00383ebae2dc1929359334b664c39961.png">
                    </li>
                    <li> <a target="_blank" rel="nofollow noopener" ng-href="https://t.me/addlist/GXOosqNeAuE4N2E1"
                            href="https://t.me/addlist/GXOosqNeAuE4N2E1"> <img width="41"
                                src="https://qk3x72.katawee.net/system-requirement/Web.PortalNew/UK254-01/cdba9e173a/images/668aaa51490cc007f95db71d15d626b8.png">
                        </a> </li>
                    <li> <a target="_blank" rel="nofollow noopener"
                            ng-href="https://www.facebook.com/profile.php?id=100083452955914"
                            href="https://www.facebook.com/profile.php?id=100083452955914"> <img width="40"
                                src="https://qk3x72.katawee.net/system-requirement/Web.PortalNew/UK254-01/cdba9e173a/images/c2fb66d315769eff35b364c6d852dd02.png">
                        </a> </li>
                    <li> <a target="_blank" rel="nofollow noopener" ng-href="https://www.youtube.com/@SHBETVIP0"
                            href="https://www.youtube.com/@SHBETVIP0"> <img width="40"
                                src="https://qk3x72.katawee.net/system-requirement/Web.PortalNew/UK254-01/cdba9e173a/images/26e001f806548d4c5f71a1024afc6ed0.png">
                        </a> </li>
                </ul>
            </section>
            <section ng-class="$ctrl.styles.slogan" class="_3nUN1yRpiSS8rzpc02MiUL"> Copyright ©
                <gupw-site-name class="ng-isolate-scope">
                    <span ng-bind="$ctrl.content" class="ng-binding">SHBET.COM - Website Chính
                        Thức</span>
                </gupw-site-name>, sh bet, shbet88, nhà cái shbet, đăng ký shbet, đăng nhập
                shbet, nổ hũ shbet, shbet com, shbet0 là nơi lý tưởng cho người chơi tham gia
                giải trí, sản phẩm trò chơi hấp dẫn hãy nhanh tay tham gia để được trải nghiệm
                dịch vụ tốt nhất.
            </section>
        </div>
    </footer>
</gupw-footer>

<gupw-float-advertise class="ng-isolate-scope">
    <aside ng-class="$ctrl.styles.left" class="_3YZ81tWqgxIHvSwF7szH6O"> <a target="_blank"
            ng-href="https://khuyenmai-shbet01.pages.dev//?promo_id=SH_TN"
            href="https://khuyenmai-shbet01.pages.dev//?promo_id=SH_TN"> <img
                ng-src="https://shb32.com/SHBET_Media/20250309035003.gif"
                src="https://shb32.com/SHBET_Media/20250309035003.gif"> </a> </aside>
    <aside ng-class="$ctrl.styles.right" class="_26Ffqy4qe9t1sOtTm1E_AE"> <a target="_blank"
            ng-href="https://shb16.com/" href="https://shb16.com/"> <img
                ng-src="https://shb32.com/SHBET_Media/20250302142458.gif"
                src="https://shb32.com/SHBET_Media/20250302142458.gif"> </a> </aside>
</gupw-float-advertise>

<gupw-float-activities class="ng-isolate-scope">
    <!-- ngIf: $ctrl.viewable -->
    <aside class="WCTZGVGljb9sfomZ3A152 ng-scope ng-isolate-scope" ng-if="$ctrl.viewable" super-slide="$ctrl.superSlide"
        style="">
        <span class="_2jpnahM_flb2179Zrhkm6y" ng-click="$ctrl.close()"></span>
        <ul class="_4Bnz5uyExAb59S1qfzy_9">
            <!-- ngRepeat: activity in $ctrl.list -->
            <li ng-repeat="activity in $ctrl.list" ng-click="$ctrl.openWindow(activity)" ng-style="activity.style"
                class="ng-scope">
                <!-- ngIf: activity.isCdnRedirect -->
                <!-- ngIf: !activity.isCdnRedirect --><img
                    ng-src="https://qk3x72.katawee.net/system-assets/ActivityEntranceImage/Image/08dd6311-7731-4b9e-a44e-7ac1b5c437f2.gif"
                    ng-if="!activity.isCdnRedirect" class="ng-scope"
                    src="https://qk3x72.katawee.net/system-assets/ActivityEntranceImage/Image/08dd6311-7731-4b9e-a44e-7ac1b5c437f2.gif"><!-- end ngIf: !activity.isCdnRedirect -->
            </li><!-- end ngRepeat: activity in $ctrl.list -->
        </ul>
        <ul class="_1f9NenqKkFJGmyt8Rb8Kuh"></ul>
    </aside><!-- end ngIf: $ctrl.viewable -->
</gupw-float-activities>


</gupw-sample-layout>
</ui-view>
</gupw-app>
</ui-view>
</div>

<!-- Application Script -->
<script src="/core/js/app.js"></script>

<!--Start of Tawk.to Script-->
<!-- <script type="text/javascript">
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
        var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/64ffc0e7b1aaa13b7a764f1c/1hcona2d3';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
</script> -->
<!--End of Tawk.to Script-->


</body>

</html>